/* style.css */
body {
  background: rgb(226,246,250);
  color: rgb(122,52,231);
  font-size: 25px;
  font-family: Courier;
}
h1{
  font-family: Courier;
  color: rgb(122,52,231); 
  font-weight: lighter;
  font-size: 14px;
}
h2 {
  font-family: Courier;
  color: rgb(52,166,231);
  font-weight: lighter;
  font-size: 25px;
}
h3 {
  font-family: Courier;
  color: rgb(52,166,231);
  font-weight: lighter;
  font-size: 25px;
}
h4 {
  font-family: Courier;
  color: rgb(52,166,231);
  font-weight: lighter;
  font-size: 25px;
}
a {
  color: rgb(212,52,231);
  font-size:14px;
}
a:hover {
  text-decoration: none;
  color: rgb(122,52,231);
} 

#baseline p {
  font-size:14px;
  color:rgb(212,52,231);
}
.premier {
  letter-spacing:-3px
}
